input::placeholder {
  color: #f8f9fa;
  font-size: small;
  line-height: 2em;
}

.navbar {
	width: 100%;
	position: fixed;
	z-index: 100;
}

.navbar-img {
	width: 10%
}

.container {
	position: relative;
	top: 70px;
	z-index: 10;
}


.description {
    color : lightgrey;
}

.position-search {
	position : fixed;
	float: right;
	right: 0;
}

.result-img {
	max-width: 300px;
	max-height: 300px;

}

.rating {
	color: grey;
	font-weight: bold;
    font-size: small;
}

img {
	max-height: 100%;
	max-width: 100%;

}